---
name: linting
on:
  - pull_request

jobs:
  Markdownlint:
    runs-on: 'ubuntu-latest'
    steps:
      - uses: actions/checkout@v3
      - name: Markdown Lint
        uses: actionshub/markdownlint@v3.1.4

  Dockerfilelint:
    runs-on: 'ubuntu-latest'
    steps:
      - uses: actions/checkout@v3
      - name: Dockerfile Lint
        uses: burdzwastaken/hadolint-action@1.6.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          HADOLINT_ACTION_DOCKERFILE_FOLDER: .

  Yamllint:
    runs-on: 'ubuntu-latest'
    steps:
      - uses: actions/checkout@v3
      - name: YAML Lint
        uses: karancode/yamllint-github-action@master
        with:
          yamllint_comment: true
        env:
          GITHUB_ACCESS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
